package ##PackageName##;

import java.util.List;
import java.util.Arrays;
import java.util.UUID;

//###BuildWatermark###
public class ##SimpleName##{
##Fields##^
    private ##TypeAsString## ##Name##;^
    ^

##Fields##^
    public ##TypeAsString## get##PropertyName##() { return this.##Name##;}^^

##Fields##^
    public ##ParentSimpleName## set##PropertyName##(##TypeAsString## ##Name##) {
            this.##Name##=##Name##;
            return this;
        }^^

}
